@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{ 
    background: #fff;
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    z-index: 1;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 30px auto;
}
.menu li{
    list-style: none;
    background: #eee;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    width: 150px;
    text-align: center;
    transition: 0.5s;
}
.menu li:hover{
    color: #fff;
    background: #000;
}
.menu li.active{
    text-decoration: none;
    color: #fff;
    background: #403020;
}
section{
    display: flex;
    padding: 20px;
    margin: 80px 40px 0;
}
section .produtos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    max-width: 1200px;
    margin: 10px auto;
}
section .produtos img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
